Ticket order confirmation

Dear #{@user.first_name} #{@user.last_name}!
Your order confirmed!

Please, log in at http://localhost:3000/login
After that visit your profile page to see the full information

Plane tickets
