Ticket order rejection
 
Dear #{@user.first_name} #{@user.last_name}!
Unfortunatelly, the flight is cancelled because of the
weather conditions.

Please, log in at http://localhost:3000/login
After that visit your profile page to see the full information

Plane tickets
