= content_for(:title, "Home")

%h1 Choose your route

= render 'search_form'

.col-xs-12#routes
  - if params[:start_point]
    - if @routes.present?  
      = render 'table', sort: true
    - else
      #no-routes No routes found
