= content_for(:title, "Home")

%h1 Choose your route

= render 'search_form'

- if params[:start_point] || params[:end_point] || params[:depart] || params[:city]
  - if @routes.present?
    - if params[:city].present?
      %h2 All routes from/to #{params[:city]}
    .col-xs-12#routes
      = render 'table', sort: true
  - else
    #no-routes No routes found
