/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap';

/*Sticky footer CSS code*/
html{
  position:relative; 
  min-height: 100%;
}
html,body{
  margin:0;
  padding:0;
}
#content{
  margin-bottom:40px; // Footer height
} 
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height:40px;    
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 5px;
    border-top: 2px solid $gray-lighter;
    color: #099;
    text-align: center;
}
/* End of Sticky footer CSS code */

#profile_link{
  color: #4B09D9;
}
