%div{ class: "navbar navbar-default", id: 'manual' }
  .container-fluid
    .navbar-header
      %div
        Choose cities: Rome, Brussels, Warsaw, New York, Washington,
        Milan, Kyiv, London, Berlin, Madrid, Barcelona, Paris
        %br/
        Choose routes from 2016-03-21 to 2016-03-26
        %br/
        To find routes with changes: Sofia - Rome on 2016-03-25
